{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@app": "./src",
          "@routes": "./src/routes",
          "@model": "./src/model"
        }
      }
    ]
  ]
}
